
body{
    background-color: #262625;
}
#streams__container{
    justify-self: center;
    width: calc(100% - 40.7rem);
    position: fixed;
    left: 15.7rem;
    top: clac(100vh - 72px);
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 225px;
    gap: 2em;
}

.video__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b366f9;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    height: 300px;
    width: 300px;
}
.button-container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    transition: all 1 ease-out 0;
}
.video__container:hover{
    height: 350px;
    width: 350px;
}
.video-player{
    height: 100%;
    width: 100%;
}
  
.down-button{
    border: 2px solid black;
    border-radius: 10px;
    width: 75px;
    height: 50px;
}
#dont-click{
    width: 110px;
    height: 100px;
}
.active{
    background-color: #b366f9;
}

.video-player video{
    border-radius: 50%;
}

#popup{
    position: absolute;
    height: 810px;
    width: 496px;
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
    justify-content: center;
    
}